@page
@model EndPoint.Areas.Admin.Pages.Social.IndexModel
@{
    ViewData["Title"] = "لیست شبکه های اجتماعی";
}

@section Styles
{

}

@section Scripts
{
    <script src="/AdminAssets/js/scripts/datatables/datatable.js"></script>
    <script>
        function Delete(id) {
            Swal.fire({
                title: 'حذف',
                text: "آیا از حذف مطمعن هستید ؟",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'بله'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.get("/Admin/Social/Index?handler=Delete&id=" + id,
                        function() {
                            Swal.fire(
                                'حذف شد',
                                'با موفقیت حذف شد',
                                'موفق'
                            );
                        });

                }
            });
        }
    </script>
}

<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-body">
            <div class="row">
            </div>
            
            <section id="basic-datatable">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <a class="btn btn-success" asp-page="Create">ایجاد شبکه اجتماعی</a>
                            </div>
                            <div class="card-content">
                                <div class="card-body card-dashboard">

                                    <div class="table-responsive">
                                        <table class="table zero-configuration">
                                            <thead>
                                                <tr>
                                                    <th>ردیف</th>
                                                    <th>نام</th>
                                                    <th>لینک</th>
                                                    <th>کلاس بوت استرپ</th>
                                                    <th>دستورات</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            @foreach (var item in Model.SocialMedias)
                                            {
                                                <tr>
                                                    <td>@item.Id</td>
                                                    <td>@item.Title</td>
                                                    <td>@item.Url</td>
                                                    <td>@item.CssClass</td>
                                                    <td>
                                                        <a href="#" onclick="Delete('@item.Id')" class="btn btn-danger">حذف</a>
                                                        <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-warning">ویرایش</a>
                                                    </td>
                                                </tr>
                                            }
                                           
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


        </div>
    </div>
</div>