@using System.Globalization
@model Core.DTOs.Site.HomeDto
<div class="pt-home" style="background-image: url('@Model.Site.BackgroundImageAddress')">
    <section>

        <!-- Banner -->
        <div class="banner">
            <h1>@Model.Site.Title</h1>
            <p class="cd-headline rotate-1">
                <span class="cd-words-wrapper">
                    @foreach (var item in Model.Titles)
                    {
                        <b class="@(item == Model.Titles.FirstOrDefault() ? "is-visible" : "")">@item.Name</b>
                    }
                    
                    
                </span>
            </p>
        </div>

        <!-- Language -->
        <div class="lang">
            <ul>
                <li><a asp-page-handler="ChangeCulture" asp-route-culture="fa-IR" class="@(CultureInfo.CurrentCulture.Name == "fa-IR" ? "active" : "")">فارسی</a></li>
                <li><a asp-page-handler="ChangeCulture" asp-route-culture="en-US" class="@(CultureInfo.CurrentCulture.Name == "en-US" ? "active" : "")">English</a></li>
            </ul>
        </div>

        <!-- Social -->
        <div class="social">
            <ul>
                @foreach (var item in Model.SocialMedias)
                {
                    <li><a href="@item.Url"><i class="fab @item.CssClass"></i></a></li>
                }
                
     
            </ul>
        </div>
    </section>
</div>