@page
@model EndPoint.Areas.Admin.Pages.Info.IndexModel
@{
    ViewData["Title"] = "مدیریت اطلاعات درباره من";
}


@section Scripts
{
    <script src="/AdminAssets/js/scripts/datatables/datatable.js"></script>
}

<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-body">
            <div class="row">
            </div>
            
            <section id="basic-datatable">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <a class="btn btn-success" asp-page="Create">ایجاد</a>
                            </div>
                            <div class="card-content">
                                <div class="card-body card-dashboard">

                                    <div class="table-responsive">
                                        <table class="table zero-configuration">
                                            <thead>
                                            <tr>
                                                <th>ردیف</th>
                                                <th>عنوان</th>
                                                <th>متن</th>
                                                <th>آیکن</th>
                                                <th>زبان</th>
                                                <th>دستورات</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            @foreach (var item in Model.Input)
                                            {
                                                <tr>
                                                    <td>@item.InfoId</td>
                                                    <td>@item.Title</td>
                                                    <td>@item.Text</td>
                                                    <td>@item.Icon</td>
                                                    <td>@item.Language</td>
                                                    <td>
                                                        <a asp-page="./Edit" asp-route-infoId="@item.InfoId" class="btn btn-warning">ویرایش</a>
                                                    </td>
                                                </tr>
                                            }

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


        </div>
    </div>
</div>