@using Microsoft.AspNetCore.Mvc.Localization
@model List<Core.DTOs.ResumeAgg.Experience.ExperienceDto>
@inject IViewLocalizer _localizer

<div class="page pt-resume" data-simplebar>
    <section class="container">



        <!-- Skills Row Start -->
        <div class="row mt-100">

            <!-- Header Block -->
            <div class="col-md-12">
                <div class="header-box mb-50">
                    <h3>@_localizer["Skills"]</h3>
                </div>
            </div>
        </div>

        <div class="box-1 skills">
            <div class="row">
                <div class="col-md-6">
                    <!-- Skill Item -->
                    @foreach (var item in Model.Where(x => x.IsRight))
                    {
                        <div class="skill-item">
                            <h4 class="progress-title">@item.Title</h4>
                            <div class="progress">
                                <div class="progress-bar" style="width: @item.Percentage%">
                                    <div class="progress-value">@item.Percentage%</div>
                                </div>
                            </div>
                        </div>
                    }

                </div>

                <div class="col-md-6">

                    <!-- Skill Item -->
                    @foreach (var item in Model.Where(x => !x.IsRight))
                    {
                        <div class="skill-item">
                            <h4 class="progress-title">@item.Title</h4>
                            <div class="progress">
                                <div class="progress-bar" style="width: @item.Percentage%">
                                    <div class="progress-value">@item.Percentage%</div>
                                </div>
                            </div>
                        </div>
                    }
                </div>

            </div>
        </div>

    </section>
</div>