@page
@using Microsoft.AspNetCore.Mvc.Localization
@model IndexModel
@inject IViewLocalizer _localizer

<div id="home">
    <div id="about">
        <div id="resume">
            <div id="portfolio">
                <div id="blog">
                    <div id="contact">

                        <div class="header-mobile">
                            <a class="header-toggle"><i class="fas fa-bars"></i></a>
                            <h2>@_localizer["MyName"]</h2>
                        </div>

                        <!-- Left Block -->
                        <nav class="header-main" data-simplebar>

                            <!-- Logo -->
                            <div class="logo">
                                <img src="@Model.Input.Logo" alt="">
                            </div>

                            <ul>
                                <li data-tooltip="@_localizer["Home"]" data-position="top">
                                    <a href="#home" class="icon-h fas fa-house-damage"></a>
                                </li>
                                <li data-tooltip="@_localizer["About"]" data-position="top">
                                    <a href="#about" class="icon-a fas fa-user-tie"></a>
                                </li>
                                <li data-tooltip="@_localizer["Skills"]" data-position="top">
                                    <a href="#resume" class="icon-b fas fa-receipt"></a>
                                </li>
                                <li data-tooltip="@_localizer["Portfolio"]" data-position="top">
                                    <a href="#portfolio" class="icon-p fas fa-clone"></a>
                                </li>
                                <li data-tooltip="@_localizer["Contact"]" data-position="bottom">
                                    <a href="#contact" class="icon-c fas fa-envelope"></a>
                                </li>
                            </ul>

                            <!-- Sound wave -->
                            <a class="music-bg">
                                <div class="lines">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                <p> @_localizer["Sound"] </p>
                            </a>
                        </nav>

                        <!-- Home Section -->
                        @await Component.InvokeAsync("HomeSection")

                        <!-- About Section -->
                        @await Component.InvokeAsync("AboutSection")

                        <!-- Resume Section -->
                        @await Component.InvokeAsync("ResumeSection")

                        <!-- Portfolio Section -->
                        <partial name="Shared/Partials/_Portfolio" model="@Model.PortfolioDtos"></partial>
                        

                        <!-- Contact Section -->
                        @await Component.InvokeAsync("ContactSection")

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
