@page
@model EndPoint.Areas.Admin.Pages.Site.IndexModel
@{
    ViewData["Title"] = "لیست تنظیمات سایت";
}


<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-body">
            <div class="row">
            </div>
            
            <section id="basic-datatable">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                
                            </div>
                            <div class="card-content">
                                <div class="card-body card-dashboard">

                                    <div class="table-responsive">
                                        <table class="table zero-configuration">
                                            <thead>
                                                <tr>
                                                    <th>عنوان اصلی</th>
                                                    <th>زبان</th>
                                                    <th>لوگو</th>
                                                    <th>پس زمینه</th>
                                                    <th>صدا</th>
                                                    <th>دستورات</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            @foreach (var item in Model.Input)
                                            {
                                                <tr>
                                                    <td>@item.Title</td>
                                                    <td>@item.Lanugage</td>
                                                    <td>
                                                        <img style="max-width: 300px" src="@item.LogoAddress" alt=""/>
                                                    </td>
                                                    <td>
                                                        <img style="max-width: 300px" src="@item.BackgroundImageAddress" alt=""/>
                                                    </td>
                                                    <td>
                                                        <audio controls="" src="@item.SongAdress"></audio>
                                                    </td>
                                                    <td>
                                                        <a asp-page="./Edit" asp-route-id="@item.SiteId" class="btn btn-warning">ویرایش</a>
                                                    </td>
                                                </tr>
                                            }
                                           
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


        </div>
    </div>
</div>