@model Core.DTOs.About.AboutDto

<div class="page pt-about" data-simplebar>
    <section class="container">

        <!-- Section Title -->
        <div class="header-page mt-70 mob-mt">
            <h2>درباره من</h2>
            <span></span>
        </div>

        <!-- Personal Info Start -->
        <div class="row mt-100">

            <!-- Information Block -->
            <div class="col-lg-12 col-sm-12">
                <div class="info box-1">
                    <div class="row">
                        <div class="col-lg-3 col-sm-4">
                            <div class="photo">
                                <img alt="" src="@Model.AboutMeDto.ImageAddress">
                            </div>
                        </div>
                        <div class="col-lg-9 col-sm-8">
                            <h4>@Model.AboutMeDto.Title</h4>
                            <div class="loc">
                                <i class="fas fa-map-marked-alt"></i> @Model.AboutMeDto.Location
                            </div>
                           @Model.AboutMeDto.Text
                        </div>

                        <!-- Icon Info -->
                        
                        @foreach (var item in Model.InfoDtos)
                        {
                            <div class="col-lg-3 col-sm-4">
                                <div class="info-icon">
                                    <i class="fas @item.Icon"></i>
                                    <div class="desc-icon">
                                        <h6>@item.Title</h6>
                                        <p>@item.Text</p>
                                    </div>
                                </div>
                            </div>
                        }

                        <div class="col-lg-3 col-sm-12 pt-50">
                            <a href="@Model.AboutMeDto.Resume" class="btn-st">دریافت رزومه</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Interests Row Start -->
        <div class="row mt-100">

            <!-- Header Block -->
            <div class="col-md-12">
                <div class="header-box mb-50">
                    <h3>علایق من</h3>
                </div>
            </div>

            <div class="col-lg-12 col-sm-12">
                <div class="box-2">
                    <div class="row">
                        <!-- Interests Item -->
                        @foreach (var item in Model.FavoriteDtos)
                        {
                            <div class="col-lg-3 col-sm-6">
                                <div class="inter-icon">
                                    <i class="fas @item.Icon"></i>
                                    <div class="desc-inter">
                                        <h6>@item.Text</h6>
                                    </div>
                                </div>
                            </div>
                        }
                   
                    
                    </div>
                </div>
            </div>
        </div>

   
    </section>
</div>